body{
	background-image: url("http://www.wall-library.com/media/gbu0/prodxl/WINDMILL002.jpg");
}
.container{
	width: 900px;
	height: 550px;
	margin-top: 70px;
	margin-left: 255px;
	background: #f1f1f1;
	text-align: center;
	padding-top: 20px;
}

#TP{
	font-family: 'Arya', sans-serif;
	font-size: 50px;
}

#todo{
	float: left;
	font-family: 'Arya', sans-serif;
	text-align: center;
	margin-left: 200px;
}
#insta{
	float: right;
	font-family: 'Arya', sans-serif;
	text-align: center;
	margin-right: 200px;
}

#para-projects{
	font-family: 'Arya', sans-serif;
	text-align: center;
	margin-top: 300px;
	padding-left: 30px;
	padding-right: 30px;
}